<!DOCTYPE html>
<html>
    
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' http://localhost:3000">

        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div>

            <form action="/<%= user.id %>?_method=PUT" method="POST">
                <input type="text" name="id" value="<%= user.id %>">
                <input type="text" name="name" value="<%= user.name %>">
                <input type="text" name="age" value="<%= user.age %>">
                <input type="submit" value="update">
            </form>
        </div>
    </body>
</html>